body {
    background: url(".\\images\\smooth_basalt.png");
}
h1 {
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.imgCenter{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 25%;
}